<div class="content">
  <app-header></app-header>

  <main>
    <section class="presentation">
      <div class="video">
        <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares <br> entre 09 e 15 anos, do município de Campinas/SP</h2>
        <img src="../../../assets/video.png" alt="thumb do vídeo">
      </div>

      <div class="quote">
        <div class="quote-buttons">

          <button><img src="assets/download.png" alt="imagem representando download"><a href="../../../assets/curriculo.pdf" download="Currículo">Download</a></button>
          <button><img src="assets/star.png" alt="estrela para avaliação"></button>
          <button><img src="assets/doi.png" alt="logo doi"></button>
        </div>

        <h5>COMO CITAR ESSE TRABALHO?</h5>

        <article class="details">
          <h3 class="subtitle">Detalhes</h3>

          <div class="text-body details-info">
            <p>
              Tipo de Apresentação: <b>Pôster</b>
              <br>
              Eixo temático: <b> Alimentação e saúde (AS) </b>
              <br>
              Palavras-chaves: <b>Alimentos funcionais, alimentação escolar. </b>
            </p>
            <br>
            <p class="author">
              <b>Autores: </b>
              <br>
              Galileo Galilei¹
              <br>
              Berta Lange de Morretes²
              <br>
              Isaac Newton³
              <br>
              Cesar Lattes¹
              <br>
              Stephen Hawking⁴
            </p>
            <br>
            <p>
              ¹Universidade Estadual de Campinas
              <br>
              ²Universidade de São Paulo
              <br>
              ³Instituto Nacional de Pesquisas Espaciais
              <br>
              ⁴Universidade Federal do Rio de Janeiro
            </p>
            <br>
            <p>
              Tipo de Apresentação: <b>Pôster</b>
              <br>
              Eixo temático: <b> Alimentação e saúde (AS) </b>
              <br>
              Palavras-chaves: <b>Alimentos funcionais, alimentação escolar. </b>
            </p>
            <br>
            <p class="author">
              <b>Autores: </b>
              <br>
              Galileo Galilei¹
              <br>
              Berta Lange de Morretes²
              <br>
              Isaac Newton³
              <br>
              Cesar Lattes¹
              <br>
              Stephen Hawking⁴
            </p>
            <br>
            <p>
              ¹Universidade Estadual de Campinas
              <br>
              ²Universidade de São Paulo
              <br>
              ³Instituto Nacional de Pesquisas Espaciais
              <br>
              ⁴Universidade Federal do Rio de Janeiro
            </p>
          </div>
        </article>
      </div>
    </section>

    <article class="summary">
      <h3 class="subtitle">Resumo</h3>

      <div class="summary-body text-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.

          <span class="hide" id="more">
            <br>
            Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.
            <br>
            Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.
            <br>
            Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </span>
          <span>
            <button onclick="showMore()" class="btn-show-more" id="btn-show-more">ver mais</button>
          </span>
        </p>
      </div>
    </article>

    <article class="discussion">
      <h3 class="subtitle">Discussões</h3>

      <section id="ask">
        <div class="ask-body" id="ask-body">
          <h4 class="share-asks">Compartilhe suas ideias ou dúvidas com os autores!</h4>

          <div class="icon">
            <img src="assets/icon1.png" alt="ilustração 1">
            <img src="assets/icon2.png" alt="ilustração 2">
            <img src="assets/icon3.png" alt="ilustração 3">
          </div>

          <p class="text-body questions">
            Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade?
            Deixe seus
            <br>
            questionamentos ou sugestões para o autor!
          </p>

          <div class="line"></div>

          <div class="new-topic">
            <button onclick="createTopic()" class="btn-create-topic new-topic text-body">
              <img src="assets/create.png" alt="imagem representando adição">
              criar tópico
            </button>
          </div>
        </div>

        <div class="text-body">
          <section id="suggestion" class="hide">
            <form method="dialog">
              <div>
                <p class="doubt-paragraph">Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
              </div>
              <h3>Assunto</h3>
              <input type="text" placeholder="Defina um tópico sucinto para notificar os autores..." class="subject">
              <h3>Conteúdo</h3>
              <div class="textarea-format">
                <textarea></textarea>
                <div class="submit-area gray-bg">
                  <button id="btn-submit-topic" onclick="submitAnswer()" type="submit">Enviar</button>
                </div>
              </div>
            </form>
          </section>

          <section id="success" class="hide">
            <div class="success">
              <div class="line">
                <h3 class="text-body">Seu tópico foi enviado com sucesso! :D</h3>
                <p>Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!</p>
                <p class="discover"><a href="#">Descubra outros trabalhos!</a></p>
              </div>

              <button class="create-topic" onclick="newTopic()">criar novo tópico</button>
            </div>
          </section>

          <section id="feedback" class="hide">
            <div class="feedback-center">
              <div class="front-feedback">
                <img src="../../../assets/verify.png" alt="ícone verificado" width="30px">
                <h3>Aguardando feedback dos autores</h3>
                <p><a href="#">Editar tópico</a></p>
              </div>
            </div>
            <div class="back-feedback">
              <section class="topic">
                <div class="topic-header">
                  <h4>Assunto da pergunta aparece aqui</h4>
                  <h5>Carlos Henrique Santos</h5>
                </div>

                <p class="question">Comecinho da pergunta aparece aqui presente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
              </section>

            </div>
          </section>

          <section class="topic">
            <div class="topic-header">
              <h4>Assunto da pergunta aparece aqui</h4>
              <h5>Carlos Henrique Santos</h5>
            </div>

            <p class="question">Comecinho da pergunta aparece aqui presente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>

            <div class="topic-footer">
              <img src="assets/info.png" alt="três pontos para mais informações">
              <img src="assets/heart.png" alt="ícone de coração para dar like">

              <button>
                <p>1 like</p>
                <p>1 resposta</p>
              </button>
            </div>
          </section>

          <section class="answered-topic topic" onclick="comments()">
            <div class="topic-header">
              <h4 class="ops-topic-subject">Assunto da pergunta aparece aqui</h4>
              <h5>Carlos Henrique Santos</h5>
            </div>

            <p>Comecinho da pergunta aparece aqui presente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo<span id="dots">...</span><span class="hide" id="open-comment"> presente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo?</span></p>

            <div class="topic-footer">
              <img src="assets/info.png" alt="três pontos para mais informações">
              <img src="assets/heart.png" alt="ícone de coração para dar like">

              <button>
                <p>4 likes</p>
                <p>4 respostas</p>
              </button>
            </div>

            <div class="comments-container hide" id="comments">
              <div class="gray-bg">
                <section class="comment">
                  <div class="comment-writer">
                    <h5>Adriano da Silva</h5>
                    <div class="writer">
                      <h4>Autor</h4>
                      <img src="../../../assets/verify-orange.png" alt="">
                    </div>
                  </div>
                  <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo presente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
                </section>
              </div>
              <div>
                <section class="comment">
                  <h5>Carlos Henrique Santos</h5>
                  <p>Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de processo formativo situado impacto de processo formativo.
                    <br>
                    Obrigada pela resposta, muito interessante o seu trabalho!
                  </p>
                </section>
              </div>
              <div class="gray-bg">
                <section class="comment">
                  <div class="comment-writer">
                    <h5>Carmila Ferreira Andrade</h5>
                    <div class="writer">
                      <h4>Coautor</h4>
                      <img src="../../../assets/verify-orange.png" alt="">
                    </div>
                  </div>
                  <p>Também interessante lembrar que o relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo presente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.
                    <br>
                    Situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.
                  </p>
                </section>
              </div>
              <div class="gray-bg">
                <section class="comment">
                  <div class="comment-writer">
                    <h5>Ana Carolina</h5>
                    <div class="writer">
                      <h4>Coautor</h4>
                      <img src="../../../assets/verify-orange.png" alt="">
                    </div>
                  </div>
                  <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
                </section>
              </div>
            </div>
          </section>
        </div>
      </section>
    </article>
  </main>

  <app-footer></app-footer>
</div>
